* {
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Azeret Mono', sans-serif;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar-item {
    font-family: 'Azeret Mono ExtraBold', monospace;
    font-size: 28px;
    color: #0D1321;
}

.download-button {
    background-color: transparent;
    color: #0D1321;
    font-family: 'Azeret Mono SemiBold', monospace;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #0D1321;
    text-decoration: none;
    display: inline-block;
}

.banner-content {
    width: 75%; 
    text-align: center;
    margin: 0 auto; 
}

.banner {
    background-image: url('./assets/Hero-bg.png');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.banner-title {
    font-family: 'Azeret Mono ExtraBold', monospace;
    font-size: 48px;
    color: #0D1321;
    margin-bottom: 20px;
}

.banner-description {
    font-family: 'Azeret Mono', monospace;
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 30px;
}

.contact-button {
    background-color: #0D1321;
    color: #FFFFFF;
    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; 
}

.main-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 20px;
}

.main-description {
    font-size: 16px;
    text-align: center;
    margin: 20px;
}

.section {
    display: flex;
    margin-bottom: 40px;
    width: 100%; 
    max-width: 1140px; 
    margin: 0 auto; 
}

.section:nth-child(even) {
    flex-direction: row-reverse;
}

.text-content {
    flex: 1;
    padding: 20px;
    margin-right: 20px; 
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px; 
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.description {
    font-size: 16px;
}

.button {
    background-color: transparent;
    color: #0D1321;
    font-family: 'Azeret Mono SemiBold', monospace;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #0D1321;
    text-decoration: none;
    display: inline-block;
}

.button-text {
    font-size: 20px;
    font-weight: 600;
}

.section:nth-child(even) {
    flex-direction: row-reverse;
}

.inspiration-section {
    max-width: 1140px;
    margin: auto;
    text-align: center;
}

.inspiration-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.inspiration-description {
    margin-bottom: 30px;
}

.target {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box; 
    


}
.target-description {
    font-family: 'Azeret Mono', monospace;
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 30px;
    text-align: center;
}
.section-title {
    text-align: center;
    margin-bottom: 20px;
}
.cards {
    display: flex;
    justify-content: space-between;
    
}
.card1 {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff6fa; /* HTML card color */
    color: #0D1321;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.card1 h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.card1 p {
    margin-bottom: 15px;
}
.card1 a {
    color: #0D1321;
    text-decoration: underline; 
    font-weight: bold; 
    text-size-adjust: 10px;
}
.card1 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card2 {
    flex-basis: calc(33.33% - 20px);
    background-color: #f2f6fe; 
    color: #0D1321;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.card2 h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.card2 p {
    margin-bottom: 15px;
}
.card2 a {
    color: #0D1321;
    text-decoration: underline; 
    font-weight: bold; 
    text-size-adjust: 10px;
}
.card2 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card3 {
    flex-basis: calc(33.33% - 20px);
    background-color: #fffdf2; /* HTML card color */
    color: #0d1321;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.card3 h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.card3 p {
    margin-bottom: 15px;
}
.card3 a {
    color: #0D1321;
    text-decoration: underline; 
    font-weight: bold; 
    text-size-adjust: 10px;
}
.card3 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

